.blue{
  width: 100px;
  height: 100px;
  background-color: green;
  float: left;
}

.green{
  width: 100px;
  height: 100px;
  background-color: green;
  float: left;
}

.red{
  width: 100px;
  height: 100px;
  background-color: green;
  float: left;
}
